/* ==========================================================================
   Флаг
   ========================================================================== */

.img-flag {
  position: relative;

  width: 35px;
  height: 24px;
}
