/* ==========================================================================
   Регулятор уровня
   ========================================================================== */

.level-range {
  box-sizing: border-box;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $breakpoint-desktop) {
    flex-wrap: wrap;
  }
}

/* Обертка для полей ввода уровня */
.level-range__level {
  display: flex;
  width: 220px;
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: $breakpoint-tablet) {
    order: 1;
    width: 148px;
    margin-bottom: 0;
  }

  @media (min-width: $breakpoint-desktop) {
    order: 0;
    width: 100%;
    margin-bottom: 38px;
  }
}

/* Label поля ввода */
.level-range__min,
.level-range__max {
  position: relative;
  width: 50%;
  margin-right: -1px;
}

.level-range__min {
  z-index: 1;
}

/* Декоративные линии */
.level-range__min::before,
.level-range__max::before {
  content: "";
  position: absolute;
  top: 13px;

  width: 1px;
  height: 11px;

  background-color: $white-color;

  @media (min-width: $breakpoint-tablet) {
    height: 20px;
  }
}

.level-range__min::before {
  right: 0;
}

.level-range__max::before {
  left: 0;
}

/* Декоративная линия */
.level-range__min::after {
  content: "";
  position: absolute;
  top: 17px;
  right: -7px;

  width: 16px;
  height: 1px;

  background-color: #cbced9;

  @media (min-width: $breakpoint-tablet) {
    top: 23px;
    right: -10px;

    width: 20px;
  }
}

/* Поле ввода уровня */
.level-range__input {
  width: 100%;
  height: 35px;

  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  color: $blue-color--light;
  text-align: center;
  letter-spacing: 2px;

  border: 1px solid #cbced9;
  outline: none;

  @media (min-width: $breakpoint-tablet) {
    height: 46px;
    padding: 0;

    font-size: 20px;
    line-height: 18px;
  }
}

/* Поле минимального уровня */
.level-range__min .level-range__input {
  border-radius: 4px 0 0 4px;
}

/* Различные состояния */
.level-range__level .level-range__input:hover,
.level-range__level .level-range__input:focus {
  border-color: #959bb2;
}

.level-range__level .level-range__input:active {
  border-color: $blue-color--dark;
}

/* Поле максимального уровня */
.level-range__max .level-range__input {
  border-radius: 0 4px 4px 0;
}

/* Обертка ползунока уровня */
.level-range__range {
  position: relative;

  @media (min-width: $breakpoint-tablet) {
    order: 0;
    width: 282px;
  }

  @media (min-width: $breakpoint-desktop) {
    order: 1;
    width: 100%;
  }
}

/* Индикатор уровня */
.level-range__range-scale {
  position: relative;

  width: 100%;
  height: 2px;

  background-color: rgba($blue-color--light, 0.2);

  @media (min-width: $breakpoint-tablet) {
    height: 3px;
  }
}

/* Индикатор уровня подсвеченный */
.level-range__range-bar {
  position: absolute;
  right: 0;

  width: 153px;
  height: 100%;

  background-color: $blue-color--light;

  @media (min-width: $breakpoint-tablet) {
    width: 201px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 125px;
  }
}

/* Переключатели уровня */
.level-range__range-toggle {
  position: absolute;
  top: -4px;

  width: 10px;
  height: 10px;
  padding: 0;

  background-color: $blue-color--light;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: all 0.5s;

  @media (min-width: $breakpoint-tablet) {
    width: 13px;
    height: 13px;
  }
}

/* Левый переключатель */
.level-range__range-toggle--min {
  left: 66px;

  @media (min-width: $breakpoint-tablet) {
    left: 69px;
  }

  @media (min-width: $breakpoint-desktop) {
    left: 59px;
  }
}

/* Правый переключатель */
.level-range__range-toggle--max {
  right: 0;
}

/* Состояния переключателей */
.level-range__range-toggle:hover,
.level-range__range-toggle:focus {
  top: -8px;
  width: 19px;
  height: 19px;

  transition: all 0.5s;
}

.level-range__range-toggle:active {
  box-shadow: 0 3px 7px rgba($blue-color--light, 0.35);
}
