/* ==========================================================================
   Тарифы
   ========================================================================== */

.tariff {
  position: relative;
  z-index: 6;

  margin-top: -30px;
  padding: 67px 0 39px;

  background-color: $white-color--blue;
  border-radius: 0 0 30px 30px;

  @media (min-width: $breakpoint-tablet) {
    margin-top: -50px;
    padding-top: 121px;
    padding-bottom: 65px;

    border-radius: 0 0 60px 60px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-top: 153px;
    padding-bottom: 165px;
  }
}

/* Обертка */
.tariff__wrapp {
  position: relative;

  box-sizing: border-box;
  //padding: 14px 25px 0;
  margin-bottom: 30px;

  @media (min-width: $breakpoint-tablet) {
    margin-bottom: 35px;
    //padding: 0;
    //padding-left: 90px;
    //padding-right: 35px;
  }

  @media (min-width: $breakpoint-desktop) {
    //padding-left: 160px;
    //padding-right: 345px;
    margin-bottom: 36px;
  }
}

/* Миниатюра */
.tariff__wrapp::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 99px;
  height: 99px;

  background-image: url("../img/rates@1x.png");
  background-repeat: no-repeat;
  background-size: 99px auto;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/rates@2x.png");
  }

  @media (min-width: $breakpoint-tablet) {
    top: auto;
    right: 45px;
    bottom: -118px;
    z-index: 10;
  }

  @media (min-width: $breakpoint-desktop) {
    right: 75px;
    bottom: 0;

    width: 198px;
    height: 198px;

    background-size: 198px;
  }
}

/* Информационный блок */
.tariff__page-info {
  width: 150px;
  margin-bottom: 31px;
  padding-left: 25px;
  padding-top: 14px;

  @media (min-width: $breakpoint-tablet) {
    width: auto;
    margin-bottom: 77px;
    padding: 0;
    padding-right: 12px;

    text-align: center;
  }

  @media (min-width: $breakpoint-desktop) {
    width: auto;
    margin-bottom: 135px;
  }
}

/* Заголовок */
.tariff__page-info .page-info__title {
  margin-bottom: 0;
}

/* Таблица с прайсом */
.tariff__price tbody {
  padding: 14px 25px 0;

  @media (min-width: $breakpoint-tablet) {
    padding: 0;
    padding-left: 90px;
    padding-right: 35px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-left: 160px;
    padding-right: 345px;
  }
}

/* Кнопка показать все тарифы */
.tariff__button {
  display: flex;
  align-items: center;
  width: 220px;
  margin: 0 auto;

  font-size: $fz;
  line-height: 16px;
  font-weight: 700;
  color: $blue-color;
  text-decoration: none;

  @media (min-width: $breakpoint-tablet) {
    width: auto;
    margin: 0;

    font-size: 20px;
    line-height: 20px;
    color: #132576;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 400px;
    margin-left: 70px;
  }
}

/* Разное состояние */
.tariff__button:hover,
.tariff__button:focus {
  color: rgba(#132576, 0.7);
}

.tariff__button:active {
  color: rgba(#132576, 0.3);
}

/* Фон миниатюры */
.tariff__button-icon {
  display: none;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67px;
    height: 67px;
    margin: 0;
    margin-right: 23px;

    background-color: #e2e5f2;
    border-radius: 50%;
  }
}

/* Иконка кнопки */
.tariff__button-svg {
  fill: #132576;
}

.tariff__button:hover .tariff__button-svg,
.tariff__button:focus .tariff__button-svg {
  opacity: 0.7;
}

.tariff__button:active .tariff__button-svg {
  opacity: 0.3;
}
