/* ==========================================================================
   Транспорт
   ========================================================================== */

/* Список транспортов */
.transport {
  @include reset-ul;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Транспорт */
.transport__item {
  //
}

/* Тултип обертка */
.transport__tooltip {
  //
}

/* Треугольник */
.transport__tooltip:hover::before {
  top: 24px;
}

/* Тело тултипа */
.transport__tooltip:hover::after {
  top: 40px;
}

/* Иконка */
.transport__svg {
  fill: rgba($black-color, 0.15);
}

/* Иконка активная */
.transport__svg--active {
  fill: $blue-color--light;
}

.transport__svg--plane {
  width: 14px;
  height: 16px;

  @media (min-width: $breakpoint-tablet) {
    width: 19px;
    height: 21px;
  }
}

.transport__svg--bus {
  width: 13px;
  height: 16px;

  @media (min-width: $breakpoint-tablet) {
    width: 17px;
    height: 21px;
  }
}

.transport__svg--bike {
  width: 19px;
  height: 17px;

  @media (min-width: $breakpoint-tablet) {
    width: 24px;
    height: 21px;
  }
}

.transport__svg--run {
  width: 15px;
  height: 17px;

  @media (min-width: $breakpoint-tablet) {
    width: 20px;
    height: 21px;
  }
}
