/* ==========================================================================
   Контейнер
   ========================================================================== */

/* Мобильные устройства
   ========================================================================== */
.container {
  box-sizing: content-box;
  width: $width-mobile;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

/* Планшетные устройства
   ========================================================================== */
@media (min-width: $breakpoint-tablet) {
  .container {
    width: $width-tablet;
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Десктопные устройства
   ========================================================================== */
@media (min-width: $breakpoint-desktop) {
  .container {
    width: $width-desktop;
    padding-left: 60px;
    padding-right: 60px;
  }
}
